 .header
{
    width:100%;
    padding:1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    background-color: #075e54;
    color:#dcf8c6;

    .title{
        font-size: 1.5rem;
        font-weight: 500;  
    }

    .action-icons
    {
        display: flex;
        flex-direction: row;
        align-items: center;

    
    }
  

}
